.bg {
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.heading {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 2rem;

  margin-bottom: 1.5rem;
}

.content {
  animation: slide-down 300ms ease-out forwards;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
