@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

.LoginPage {
  width: 80%;
  max-width: 1200px;
  min-width: 320px;
  height: 80%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logo {
  width: 450px;
  height: 450px;
  display: flex;
  align-items: center;
}

.img {
  width: auto;
  height: 200px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 auto; */
  position: absolute;
  bottom: 1%;
  left: 50%;
  margin-left: -200px;
  padding: 5px;
}

.footer-text {
  font-family: "Source Code Pro";
  font-weight: bold;
  font-size: 0.8rem;
}

.holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 0.5rem;
}

.colname {
  font-weight: bold;
  font-size: 1.5rem;
}

.deptname {
  font-size: 1rem;
  font-weight: 500;
}

.collogo {
  width: 50px;
  height: 50px;
  /* margin-right: 1rem; */
}

@media screen and (max-width: 768px) {
  .logo {
    /* width: 50px;
    height: 50px; */
    /* position: absolute; */
    /* margin: 0 auto; */
    display: none;
  }
  .img {
    height: 100px;
  }
  /* .LoginPage {
    flex-direction: column;
  } */
  .container {
    display: flex;
    flex-direction: column;
  }

  .colname,
  .deptname,
  .collogo .footer {
    transform: scale(0.9);
  }

  .colname {
    font-size: 1rem;
  }

  .deptname {
    font-size: 0.8rem;
  }

  .collogo {
    width: 25px;
    height: 25px;
  }

  .footer {
    margin-top: auto;
    left: 52%;
  }

  .footer-text {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 425px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .colname,
  .deptname,
  .collogo .footer {
    transform: scale(0.9);
  }

  .colname {
    font-size: 1rem;
  }

  .deptname {
    font-size: 0.8rem;
  }

  .collogo {
    width: 25px;
    height: 25px;
  }

  .footer {
    margin-top: auto;
  }

  .footer-text {
    font-size: 0.5rem;
  }
}

@media screen and (max-height: 500px) {
  .footer {
    display: none;
  }
}
