.outer-layout {
  /* background-color: yellow; */
  display: flex;
}

.layout {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 1rem;
  /* border: 2px solid red; */
}

@media screen and (max-width: 1024px) {
  .layout {
    grid-template-columns: 1fr 1fr;
  }
}
/* @media screen and (max-width: 760px) {
  .layout {
    grid-template-columns: 1fr;
    grid-gap: 50px;
    padding: 0;
  }
} */
@media screen and (max-width: 700px) {
  .layout {
    grid-template-columns: 1fr;
    grid-gap: 50px;
    padding: 0;
  }
}
