.box {
  margin-top: 10em;
}

.apply {
  width: 30%;
  min-width: 75px;
  max-width: 150px;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0.5rem;

  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  background-color: rgb(0, 212, 53);
  border: none;
  border-radius: 0.3rem;
}

.apply:hover {
  cursor: pointer;
  background-color: rgb(0, 169, 42);
}
